*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

.col-lg-12{
	padding: 20px 20px;
}
.col-lg-12 input{
	padding: 10px 20px;
	margin : 0px 20px;
}
#submit {
	padding: 10px 30px;
}

#users, #comments, #posts {
	list-style-type: none;
}